#header {
	background-image: url(../images/bg-image.png) ;
	background-color: #1a1d25;
}

.header-frame {
	display: flex;
	justify-content: space-between;
	align-items: 	center;
	padding: 20px 0;

	@include media('>=tablet') {
		padding: 0;
	}

	.logo {
		width: 207px;
		margin-right: 15px;
	}
}

	.navigation {
		width: calc(100% - 207px);
		text-align: right;

		.nav-opener{
			display: none;
			width:40px;
			height:36px;
			position:relative;

			@include media('<tablet') {
				display: inline-block;
				vertical-align: baseline;
			}

			&:before, &:after, span {
				@include animate(transform);
				background:#fff;
				border-radius:4px;
				position:absolute;
				top:17px;
				left:25%;
				right:25%;
				height:3px;
			}

			&:before, &:after {
				content:'';
				top:10px;
			}

			&:after {
				top: 24px;
			}
		}

		.drop {
			@include animate(right);
			width: 100%;
			height: calc(100vh - 75px);
			position: absolute;
			right: -9999px;
			background-image: url(../images/bg-image.png);
			background-color: #1a1d25;
			
			@include media('>=phone') {
				width: 50%;
			}

			@include media('>=tablet') {
				width: auto;
				height: auto;
				position: static;
			}

			ul {
				@extend %listreset;
				text-align: left;

				@include media('>=tablet') {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					justify-content: flex-end;
				}
				
				li {

					@include media('<tablet') {
						display: block;
						padding: 20px;
					}

					&:last-child {
						a {
							&:after {
								content:'';
								position: absolute;
								right: 0;
								top: 0;
								background: #2e333e;
								height: 0;
								width: 0;

								@include media('>=tablet') {
									height: 100%;
									width: 1px;
								}
							}
						}
					}

				a {
					@include animate(background);
					display: inline-block;
					vertical-align: middle;
					position: relative;
					font-size: 14px;
					padding: 0;
					z-index: 1;
					text-decoration: none;
					padding-left: 40px;

					@include media('>=tablet') {
						padding: 18px 24px 23px 53px;
						font-size: 16px;
					}

					&:hover {
						background: #13161b;
					}

					&:before {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 1px;
					background: #2e333e;

					@include media('>=tablet') {
						content:'';
					}
				}
			}
				.icon {
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					vertical-align: top;
					font-size: 20px;
					margin: 0 9px 0 0;
					line-height: 1.3;

					@include media('>=tablet') {
						left: 25px;
						top: 27px;
					}
				}
			}
		}
	}
}
.nav-active {
	.navigation {
		.nav-opener {

			&:before, &:after {
				top: 20px;
				transform:rotate(45deg);
				top:16px;
				left:15%;
				right:15%;
			}

			&:after {
				transform:rotate(-45deg);
			}

			span {
				display: none;
			}
		}

		.drop {
			right: 0;
			bottom: 0;
			top: 75px;
			z-index: 100;
			overflow: scroll;
		}
	}
}